a{
    text-decoration: none;
}
body {
    /*background: url('../images/backg.jpg') repeat-x;*/
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: auto;

}
#container{
    /*font-family: "HelveticaNeue", Helvetica, Arial,sans-serif;*/

    line-height: 1.2em;
}
/*-------------------------------HEADER------------------------------*/
#header{

    background: url('../images/header-bg.jpg') repeat-x;
    height: 83px;
    width:100%;
}
#header-bg{
    height:40px;
    padding-top: 20px;
}
#logo{

}
/*--------------navegador-------------*/
#navigation {
    margin-top: 0px;
    margin-left:0px;
}

#navigation ul {
    margin-left: 45px;
    margin-top: 7px;
}
#navigation li {
    border-right: solid 1px #252e34;
    display: inline;
    height:52px;
    list-style: none;
    margin-left: 0px;
}
#navigation a:hover, .active a {
    background: url("../images/boton-nav.png") no-repeat;
    background-position:center;
}
#navigation a {
    color:#e8e8e8;
    font-size:12px;
    font-weight: bold;
    padding: 13px 16px;
}
/*----------fin navegador--------------*/
#search-box {
    background: url("../images/search-box.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 26px;
    margin: 5px 8px 0 0;
    width: 150px;
}
#search-box p {
    float: left;
}
#search-box input[type="submit"] {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    float: left;
    font-size: 0;
    height: 26px;
    line-height: 0;
    text-indent: -999em;
    width: 25px;
}
#search-box input[type="text"] {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #CCCCCC;
    float: left;
    font-size: 12px;
    height: 20px;
    padding: 3px 5px;
    width: 110px;
}
/*--------------------------CONTENT.TOP------------------------------*/
#content{
    margin-top:-5px;
}
#content-top{
    background: url("../images/content-top-bg2.jpg") repeat-x;
    height:435px;
}
#slide{
    background: url("../images/content-top-bg.jpg") repeat-x;
}
#content-top-left {
    color: #e8e8e8;
    line-height: 1.5em;
    margin-top: 35px;
    width:361px;
}
#content-top-left h1{
    font-size:24px;
    font-weight: bold;
    margin-bottom: 25px;
}
#content-top-left p, a{
    font-size:12px;
    margin-bottom: 30px;
}
#botom-2 {
    height:36px;
    margin-top:30px;
    width:142px;
}
#botom-2 a{
    background: url("../images/boton-2.png") no-repeat;
    color: #e8e8e8;
    font-family: "HelveticaNeue", Helvetica, Arial,sans-serif;
    font-size:13px;
    font-weight:bold;
    padding: 10px 26px;
    text-decoration: none;
}
#content-top-right{
    margin-left:29px;
    margin-top: 10px;
}
/*--------------------------CONTENT-MIDDLE-----------------------------*/
#content-middle{
    background:url(../images/block-bg.jpg) no-repeat;
    height:358px;
    margin-top: -65px;
}
#content-middle .title{
    color:#171717;
    font-size: 15px;
    margin-bottom: 13px;
}
#content-middle .second{
    color:#d2d2d2;
    font-size: 12px;
}
#content-middle .block{
    color:#333333;
    font-size: 12px;
}
#content-middle .content-middle-block{
    font-size:12px;
    height:336px;
    padding-left: 24px;
    padding-top:20px;
    width:180px;
}
#content-middle .read{
    padding-top: 15px;
}
#content-middle .read a{
    color: #333333;
    font-weight:bold;
}
/*--------------------------CONTENT-BOTTOM-----------------------------*/
#content-bottom{
    height:535px;
    line-height: 1.2em;
    padding-top: 40px;
}
#recent-work-title{
    background: url(../images/barra.jpg) repeat-x;
    background-position:bottom;
    color: #333333;
    font-size:15px;
    font-weight:bold;
    margin-left:34px;
    padding-bottom: 15px;
    width:917px;
}
#content-bottom-first{
    margin-top: 30px;
}
#content-bottom-first-1 p{
    margin-left: 25px;
    width:185px;
}
#content-bottom-first-1 p .title{
    color:#d2d2d2;
}
/*------------------------------FOOTER---------------------------------*/
#footer{
    background: url(../images/footer-bg.jpg) repeat-x;
    height:351px;
    line-height: 1.2em;
    width:100%;
}
#footer-top{
    color:#E8E8E8;
    padding-top: 40px;
}
#footer-top .footer-title{
    border-bottom: solid 1px #6c6c6c;
    font-size:16px;
    padding-bottom: 17px;
}
#footer-top .first{
    font-size:12px;
    padding-bottom: 20px;
}
#footer-bottom {
    padding-top: 10px;
}
#footer-bottom a{
    color: #818181;
}
